{% extends "navbar.html" %}
{% block title %}Hulk - Home{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="../static/css/home.css">{% endblock %}

{% block content %}
    <div id="welcome">
        <p>Welcome to Project Hulk!</p>
    </div>

    <div id="home-links">
      <button type="button" class="btn" id="home_search_button">Search for Excercises</button>
      <button type="button" class="btn" id="home_calcalc_button">Calorie Calculator</button>
      <button type="button" class="btn" id="home_profile_button" >User Page</button>
      <button type="button" class="btn" id="home_login_signup_button">Log In or SIgn Up</button>
    </div>

{% endblock %}
