{% extends "navbar.html" %}
{% block title %}Hulk - Search{% endblock %}
{% block head %}
    <script src="../static/js/search.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/search.css">
{% endblock %}
{% block content %}
    <div id="prompt">
        Search for Excercises
    </div>

    <div class="container table-container">
        <div class="row justify-content-center align-items-center">
            <div class="col d-flex justify-content-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" id = "body-table-title">Body Part </th>
                        </tr>
                    </thead>
                    <tbody id="body-table-rows">
                        <!--<tr data-selected="false">
                            <th scope="row" >Biceps</th>
                        </tr>
                        <tr data-selected="false">
                            <th scope="row">Abdominals</th>
                        </tr>
                        <tr data-selected="false">
                            <th scope="row">Shoulders</th>
                        </tr>
                        <tr data-selected="false">
                            <th scope="row">Back</th>
                        </tr>
                        <tr data-selected="false">
                            <th scope="row">Quads</th>
                        </tr>-->
                    </tbody>
                </table>
            </div>

            <div class="col d-flex justify-content-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" id = equipment-table-title>Equipment</th>
                    </tr>
                    </thead>
                        <tbody id="equipment-table-rows">
                            <!--<tr data-selected="false">
                                <th scope="row">Dumbells</th>
                            </tr>
                            <tr data-selected="false">
                                <th scope="row">Kettle bell</th>
                            </tr>
                            <tr data-selected="false">
                                <th scope="row">Barbell</th>
                            </tr>
                            <tr data-selected="false">
                                <th scope="row">Excercise Ball</th>
                            </tr>
                            <tr dataselected="false">
                                <th scope="row">Jump rope</th>
                            </tr>-->
                        </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button type="submit" class="btn" id="search-button" disabled="True">Submit</button>
    </div>

{% endblock %}
