<!doctype html>
<html>
<head>
    <script src="../static/js/calc.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/base_temp.css">
    <link rel="stylesheet" type="text/css" href="../static/css/calc.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="../static/hulk-logo.png" id = "brand-image" alt="Hulk Logo" class="navbar-image">
        <a class="navbar-brand" id="brand" href="#">Project Hulk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Search </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Calculator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
          </ul>
        </div>
    </nav>
</head>
<body>
    <form id="calculator">
    </h2>
        <div class= "grid-container" id="Calculator">    
            <div class="input-group w-50 mb-3">
                <input class = "form-control" placeholder = "Calories"  type="text" inputmode ="decimal" id="calories"> 
                <div class = "input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="printOutput()" id="CalcButton">
                        Calculate 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fire" viewBox="0 2 18 16">
                            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"></path>
                        </svg>
                    </button>
                </div>
                <div class="container" id="output_con">
                    <div id = "output">
                    </div>
                </div>
            </div>
        </div>
</form>
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybB2On4oge2zVrGLbZj5PEE2Q0vJ+8q+phz9k3dw3u+pekN1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>